
.note {

	margin : 0.5em;
	background: #F2F0F2;
	color : black;
	display: flex;
	flex-direction: column;
	min-width: 159px;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
	&__top {

		display: flex;
		justify-content: flex-end;
		margin-bottom: 0;
		height : 0;
		overflow: hidden;
		transition: height 0.3s ease-out;
		.active > & {

			height : 32px;
		}
		i {

			font-size: 20px;
			cursor: pointer;
			margin: 0.3em;
		}
	}
	&__text{

		margin : 0.5em;
		border : none;
		resize: none;
		width: auto;
		background: transparent;
		overflow:hidden;
		.active > & {
			margin: 0 0.5em;
		}
		&:focus {

			outline: none;
		}
	}
	&__bottom {

		height: 0;
		overflow: hidden;
		transition: height 0.3s ease-out;
		display: flex;
		justify-content: flex-end;
		button {

			margin : 0.5em;
			padding : 0.3em;
			margin-top: 0;
			font-size: 15px;
			background: #d8d5d5;
		}
		.active > &{

			height: 37px;
		}

	}
}
