.welcome {
  text-align: center;
  color: #5E8EE4;
}

.box {
  background-color: whitesmoke;
  width: 350px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
  margin: 0 auto;
}

.creators {
  text-align: center;
  color: black;
}
