@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');

$color__background : #5E8EE4;
$color__font : #E5E5E5;

.header {

  font-family: 'Raleway', sans-serif;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  padding : 1em;
  background-color : $color__background;
  color : $color__font;
  z-index: 2;
  max-height: 120px;
  label {

    margin-bottom: 0;
    font-size : 35px;
    color : white;
    &.title {

			cursor: pointer;
      display : flex;
      p {

        margin : 0 0.2em 0 0;
        font-weight: 200;
      }
    }
  }

	.header__login {

		display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding : 0 5px;
		i {

			color: #5E8EE4;
	    cursor: pointer;
			padding-left: 14px;
			&:last-child {
				padding-right: 14px;
			}
		}
		p {
			padding-left: 14px;
			margin: auto 0;
			color : #5E8EE4;
		}
	}
	.header__logout {

		margin: auto 0;
	}
}
