.main-body {
	margin-top: 2em;
}
.background {
	position: fixed;
	display: block;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url("./assets/background.jpg") no-repeat center center;
	background-size: cover;
	z-index: 0;
}
