.main__wrapper ,.main__body{

	&:not(.main__wrapper) {
		margin-top: 2em;
	}
	display: flex;
  min-height: 100%;
  flex-direction: column;
}

.background {
	
	position: fixed;
	display: block;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url("./assets/background.jpg") no-repeat center center;
	background-size: cover;
	z-index: 0;
}
